<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276795330903-7m6s0ina2jle1mna1osm6246qva6n1nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276795330903-7m6s0ina2jle1mna1osm6246qva6n1nc</string>
	<key>API_KEY</key>
	<string>AIzaSyBomBOI9b8U7nVsUyeF_vFza4RScxotkCE</string>
	<key>GCM_SENDER_ID</key>
	<string>276795330903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITESM.JUEGO</string>
	<key>PROJECT_ID</key>
	<string>coastlineswift</string>
	<key>STORAGE_BUCKET</key>
	<string>coastlineswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276795330903:ios:b7cca2c3a1d6b334796e12</string>
</dict>
</plist>